@import "~bootstrap/dist/css/bootstrap.min.css";
h1{
    text-align: center;
}

button:hover{
    background-color: black;
    color: white;
}
  button {
    display: inline-block;
    font-size: 1em;
    background: #3498db;
    position:relative;
  }
  .btn-co{
    display: inline-block;
  }
  
 